* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 85%;
  margin: 30px auto;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container h2 {
  font-size: 20px;
  font-weight: 30px;
  /* background-image: url(3.jpg); */
}

form {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 9px;
  border-radius: 25px;
}

input {
  width: 86%;
  padding: 0 8px;
  border: none;
  border-radius: 25px;
  color: black;
  margin:0 5px;
  background-color: white;
}
.icon {
  margin-top: -1px;
  width: 20px;
  height: 20px;
}
svg {
  width: 18px;
  height: 18px;
  padding: -10px;
  margin-top: 2px;
  border-radius: 100%;
  background-color: rgb(209, 200, 200);
}
.show {
  display: block;
}
.hide {
  display: none;
  visibility: hidden;
}
#notify {
  width: 50%;
  margin: 40px auto;
  font-size: 18px;
  font-weight: 500;
}
#info {
  width: 40%;
  margin: 30px auto;
  padding-bottom: 20px;
  display: block;
  background-color: rgba(241, 240, 240, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 3px;
  overflow: hidden;
}
#current {
  width: 95%;
  display: block;
  margin: auto;
  padding: 20px;
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
  /* overflow: hidden; */
}
.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  /* height: fit-content; */
}
.not-found img {
  width: 40%;
  border-radius: 100%;
}
.not-found p {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 200px;
}
.descr {
  width: fit-content;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* width: 150px; */
/* height: 150px; */
/* margin-left: -20px; */
/* margin-bottom: 15px; */
#iconImg {
  width: 100px;
  height: 150px;
  object-position: cover;
  object-fit: cover;
  margin-top: -35px;
}
.location {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 50px;
}
#description {
  font-size: 14px;
  position: absolute;
  left: 50px;
  top: 30px;
  width: fit-content;
}
#temp {
  margin-top: 20px;
}
.date {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wind {
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#windSpeed {
  width: 40%;
  background-color: rgb(3, 13, 146);
  padding: 6px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: block;
}
#windSpeed i {
  font-size: 12px;
}
#humidity {
  width: 40%;
  background-color: rgb(7, 211, 68);
  padding: 6px;
  border-radius: 7px;
  display: block;
}
.sun {
  width: 90%;
  margin: 25px auto;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
#clear {
  width: fit-content;
  margin: auto;
  margin-bottom: -30px;
}

.daily {
  width: 55%;
  display: block;
  margin: auto;
}
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
}
.daily_info {
  width: 25%;
  display: block;
  padding: 20px;
  background-color: rgba(241, 240, 240, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 3px;
}
.daily_info p {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

footer div {
  width: fit-content;
  padding: 30px;
  display: block;
  margin: auto;
}
footer div p {
  margin-top: 15px;
}
.contactD {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  gap: 15px;
}
.contactD a > img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.contact {
  width: 25px;
  height: 25px;
}

/* #log {
  /* height: 100%; */
/* background-color: floralwhite; */
/* position: absolute; */
/* bottom: 0; */
/* width: 100%; */
/* color: black; */
/* align-content: center; */
/* }
#log p {
  color: black;
  margin: 30px auto;
  width: 40%;
}
#log form {
  width: 30%;
  background-color: black;
  color: white;
  margin: auto;
  display: block;
  text-align: center;
}
#log form > input {
  width: 70%;
  padding: 7px;
  margin: 10px auto;
}
#log form > p {
  background-color: white;
}
#log form > button {
  padding: 7px;
  margin: auto;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
} */
@media (max-width: 500px) {
  .container {
    width: 85%;
    margin: auto;
    padding-top: 10px;
    display: block;
  }

  .container h2 {
    font-size: 17px;
    margin: 20px auto;
    width: fit-content;
  }

  form {
    width: 95%;
    margin: 30px auto;
    padding: 9px;
  }

  input {
    width: 90%;
    padding: 0 5px;
    background-color: white;
    text-align: center;
  }
  .icon {
    margin-top: 1px;
    width: 20px;
    height: 20px;
  }
  svg {
    padding: -10px;
  }

  #notify {
    width: 80%;
    margin: auto;
    font-size: 17px;
    padding: 10px 0;
      font-weight: 500;
  }
  #info {
    width: 90%;
    margin: 30px auto;
    display: block;
      overflow: hidden;

  }

#current {
    width: 90%;
    margin: 50px auto;
    padding: 15px;
    transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
  }

  .not-found img {
    width: 40%;
    border-radius: 100%;
  }
  .not-found p {
    font-size: 14px;
    margin-top: 15px;
    font-weight: 200px;
  }
  
  .descr {
    width: fit-content;
  }

  /* width: 150px; */
  /* height: 150px; */
  /* margin-left: -20px; */
  /* margin-bottom: 15px; */
  #iconImg {
    width: 100px;
    height: 150px;
    margin-top: -35px;
  }
  .location {
    width: 90%;
  }
  #description {
    font-size: 15px;
    position: absolute;
    left: 10px;
  }
  #temp {
    margin-top: 20px;
  }
  .date {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .wind {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #windSpeed {
    width: 45%;
    background-color: rgb(3, 13, 146);
    padding: 6px;
    border-radius: 7px;
    display: block;
  }
  #windSpeed i {
    font-size: 12px;
  }
  #humidity {
    width: 45%;
    padding: 6px;
    border-radius: 7px;
    display: block;
  }
  .sun {
    width: 90%;
    margin: 25px auto;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #clear {
    width: fit-content;
    margin: auto;
  }
}
